@font-face {
    font-family: "nsr-eb";
    src: url(../../public/fonts/NanumSquareRoundEB.ttf);
}

.container {
    display: flex; /* 가로 정렬을 위한 flexbox */
    justify-content: center; /* 가운데 정렬 */
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 세로 정렬 */
    height: 100vh; /* 컨테이너 높이 설정 */
}

.roulette, .random {
    background-color: #722FF3;
    width:30%;
    box-sizing: border-box;

    font-family: "nsr-eb";
    color: #FFFFFF;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;

    border-radius: 20px;
}

.random {
    margin-top: 40%;
}